{% extends 'base_dashboard.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<!-- x-editor CSS
		============================================ -->
<link rel="stylesheet" href="{% static 'css/editor/select2.css' %}">
<link rel="stylesheet" href="{% static 'css/editor/datetimepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/editor/bootstrap-editable.css' %}">
<link rel="stylesheet" href="{% static 'css/editor/x-editor-style.css' %}">
<!-- normalize CSS ============================================ -->
<link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
<link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">

{% endblock %}

{% block content %}
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>All Course <span class="table-project-n">Data</span> Table</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">Course ID</th>
                                        <th data-field="code">Course Code</th>
                                        <th data-field="name">Course Name</th>
                                        <th data-field="students_registered">No of Students Registered</th>
                                        <th data-field="take-attendance">Take Attendance</th>
                                        <th data-field="view-attendance">View Attendance</th>
                                        <th data-field="grading-attendance">View Attendance</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                    <tr>
                                        <td></td>
                                        <td>{{ course.id }}</td>
                                        <td>{{ course.course_code}}</td>
                                        <td>{{ course.course_name }}</td>
                                        <td>{{ course.total_students}}</td>
                                        <td><a class="btn btn-info" href="{% url 'course:take_attendance' course.id %}">
                                                Take Attendance</a></td>
                                        <td><a class="btn btn-info" href="{% url 'course:view_attendance' course.id %}">
                                                View Attendance</a></td>
                                        <td>
                                            <button class="btn btn-info"><a
                                                    href="{% url 'course:view_attendance_marks' course.id %}">View
                                                    Grading</a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- data table JS
		============================================ -->
<script src="{% static 'js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'js/data-table/tableExport.js' %}"></script>
<script src="{% static 'js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'js/data-table/bootstrap-table-export.js' %}"></script>
<!--  editable JS
		============================================ -->
<script src="{% static 'js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'js/editable/mock-active.js' %}"></script>
<script src="{% static 'js/editable/select2.js' %}"></script>
<script src="{% static 'js/editable/moment.min.js' %}"></script>
<script src="{% static 'js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'js/editable/xediable-active.js' %}"></script>
<!-- Chart JS
		============================================ -->
<script src="{% static 'js/chart/jquery.peity.min.js' %} "></script>
<script src="{% static 'js/peity/peity-active.js' %}"></script>
{% endblock %}