{% extends 'base_dashboard.html' %}
{% block head_title %} Create Course{% endblock %}
{% block content %}
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center custom-login">
                <h3>Create Course</h3>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="">
                                    <div class="">
                                        <h3 class="card-title">Add Course</h3>
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                                            {% include 'includes/forms.html' %}

                                            <button type="submit" class="btn btn-primary btn-block">Create Course
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>>
    </div>
{% endblock %}